/* Global resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fira Code', 'Courier New', monospace;
  background-color: #0f172a;
  /* Slate 900 */
  color: #f8fafc;
  line-height: 1.5;
  width: 100%;
  min-height: 100vh;
}